<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tooltip.css') }}">
        <title>My AuthKeys - LoveCube</title>
    </head>
    <body>
        {% include 'header.html' %}
        
        <div id="main">
            <div id="content">
                <center>

                    {% include 'error.j2' %}

                    <table class="main-list">
                        <tr>
                            <th class="main-list">API Authentication Key</th>
                            <th>Registered Device</th>
                            <th>Operations</th>
                        </tr>
                        <tr>
                            <td class="main-list">********-****-****-****-************</td>
                            <td class="main-list">
                                <select name="device-list" id="device-list">
                                    {% for device in devices %}
                                        <option value="{{ device.id }}">{% if device.nickname is not none %} {{ device.nickname }} {% else %} {{ device.id }} {% endif %}</option>
                                    {% endfor %}
                                    <option value="new">New device</option>
                                </select>
                                or
                                <input type="text" name="device-id" id="device-id" placeholder="abc123" maxlength="6" size="6" {% if devices|length != 0 %} disabled {% endif %}/>
                            </td>
                            <td>
                                <button onclick="new_api_key()">Create new API key</button>
                            </td>
                        </tr>
                        {% for key in authkeys %}
                        <tr {% if key.is_user_key %} style="background-color: lightgreen;" {% endif %}>
                            <td class="main-list">{{ key.key[:9] }}{{ (key.key|length - 9) * "*" }}</td>
                            <td class="main-list">{% if key.is_user_key %} <b style="color: red">PERSONAL KEY</b> {% else %}  {{ key.device }} {% endif %}</td>
                            <td class="main-list">
                                <button onclick="fetch('/api/v1/unregister-api-key/{{session.personal_key}}/{{key.key}}')
                                    .then((response) => response.json())
                                    .then((json) => {if (json.error != 0) window.alert(json.error_msg); else window.location.reload(); })
                                ">Delete</button>
                                <div class="tooltip">
                                    <button onclick="copy_key('{{key.key}}', '{{ loop.index0 }}')" onmouseout="tool_tip_outfunc('{{ loop.index0 }}')">
                                        <span class="tooltiptext" id="copy-key-tooltip-{{ loop.index0 }}">Copy to clipboard</span>
                                        Copy Key
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </table>
                </center>
            </div>

            <script>
                document.getElementById("device-list").addEventListener("change", function() {
                    if (this.value == "new") {
                        document.getElementById("device-id").disabled = false;
                    } else {
                        document.getElementById("device-id").disabled = true;
                    }
                });
                
                function new_api_key() {
                    selected_val = document.getElementById('device-list').value;
                    if (selected_val == "new") {
                        selected_val = document.getElementById('device-id').value;
                    }
                    fetch('/api/v1/register-api-key/{{session.personal_key}}/' + selected_val)
                        .then((response) => response.json())
                        .then((json) => {
                            if (json.error != 0) window.alert(json.error_msg); else window.location.reload(); 
                        })
                }

                function copy_key(key, i) {
                    navigator.clipboard.writeText(key);
                    var tooltip = document.getElementById("copy-key-tooltip-" + i);
                    tooltip.innerHTML = "Key Copied";
                }

                function tool_tip_outfunc(i) {
                    var tooltip = document.getElementById("copy-key-tooltip-" + i);
                    tooltip.innerHTML = "Copy to clipboard";
                }
            </script>

            {% include 'footer.html' %}
        </div>

    </body> 
</html>