<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <title>LoveCube</title>
    </head>
    <body>
        {% include 'header.html' %}
        
        <div id="main">
            <div id="content">
                <center>
                    <table>
                        <tr>
                            <th>Device id</th>
                            <th>Charging</th>
                            <th>Current State</th>
                            <th></th>
                        </tr>
                    </table>
                </center>
            </div>

            {% include 'footer.html' %}
        </div>

    </body> 
</html>