<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tooltip.css') }}">
        <title>My Devices - LoveCube</title>
    </head>
    <body>
        {% include 'header.html' %}
        
        <div id="main">
            <div id="content">
                <center>
                    {% include 'error.j2' %}

                    <table class="main-list form">
                        <tr class="form">
                            <th class="main-list">Device ID</th>
                            <th class="main-list">Nickname</th>
                            <th class="main-list">Battery Charging</th>
                            <th class="main-list">Current Command</th>
                            <th class="main-list">A Button Action</th>
                            <th class="main-list">B Button Action</th>
                            <th class="main-list">Last Ping</th>
                        </tr>
                        {% for device in devices %}
                        <tr class="form">
                            <form class="form" method="post" action="/devices" value>
                                <input class="form-element" type="hidden" name="device_id" value="{{ device.id }}"/>
                                <th class="main-list">{{ device.id }}</td>
                                <td class="main-list"><input class="form-element text-input" type="text" {% if device.nickname is not none %} value="{{ device.nickname }}" {% endif %} name="nickname" size="10"/></td>
                                {% if device.bat_chrg_flag and not device.bat_stby_flag %}
                                    <td class="main-list" style="background-color: orange;">CHARGING</td>
                                {% elif not device.bat_chrg_flag and device.bat_stby_flag %}
                                    <td class="main-list" style="background-color: greenyellow;">CHARGED</td>
                                {% else %}
                                    <td class="main-list" style="background-color: lightgray;">DISCONNECTED</td>
                                {% endif %}
                                <td class="main-list">{{ cmd_options[device.cmd if not devices_cmd_expired[loop.index0] else 0] }}</td>
                                <td class="main-list">
                                    {% if pairs|length > 0 %}
                                    <div class="tooltip"><button id="trig_a_{{ device.id }}" type="button" class="trigger_btn">
                                        <span class="tooltiptext" id="trig_a_tooltip_{{ device.id }}">Trigger A</span>
                                        ✅
                                    </button></div>
                                    <select class="form-element" name="btn1_action_target">
                                        <option value="null">None</option>
                                        {% for pair in pairs %}
                                            <option value="{{ pair.id }}" {% if device.btn1_action.split("_")[0] == pair.id %} selected="selected" {% endif %}> {% if pair.nickname is not none %} {{ pair.nickname }} {% else %} {{ pair.id }} {% endif %}({{ pair_owners[pair.id] }})</option>
                                        {% endfor %}
                                    </select>
                                    <span>: </span><br>
                                    <select class="form-element" name="btn1_action_cmd">
                                        {% for cmd in cmd_options %}
                                            <option value="{{ loop.index0 }}" {% if device.btn1_action|length > 0 and device.btn1_action.split("_")[1]|int == loop.index0 %} selected="selected" {% endif %}> {{ cmd }}</option>
                                        {% endfor %}
                                    </select>
                                    <span> for </span>
                                    <input class="form-element num-input" type="number" min="0" max="30" name="btn1_action_time" value="{% if device.btn1_action|length > 0 %}{{ device.btn1_action.split("_")[2]|int }}{% else %}0{% endif %}" style="width: 3em;"/> <span> mins</span>
                                    {% else %}
                                    <a href="pairs">New pair</a>
                                    {% endif %}
                                </td>
                                <td class="main-list">
                                    {% if pairs|length > 0 %}
                                    <div class="tooltip"><button id="trig_b_{{ device.id }}" type="button" class="trigger_btn">
                                        <span class="tooltiptext" id="trig_b_tooltip_{{ device.id }}">Trigger B</span>
                                        ✅
                                    </button></div>
                                    <select class="form-element" name="btn2_action_target">
                                        <option value="null">None</option>
                                        {% for pair in pairs %}
                                            <option value="{{ pair.id }}" {% if device.btn2_action.split("_")[0] == pair.id %} selected="selected" {% endif %}> {% if pair.nickname is not none %} {{ pair.nickname }} {% else %} {{ pair.id }} {% endif %}({{ pair_owners[pair.id] }})</option>
                                        {% endfor %}
                                    </select>
                                    <span>: </span><br>
                                    <select class="form-element" name="btn2_action_cmd">
                                        {% for cmd in cmd_options %}
                                            <option value="{{ loop.index0 }}" {% if device.btn2_action|length > 0 and device.btn2_action.split("_")[1]|int == loop.index0 %} selected="selected" {% endif %}> {{ cmd }}</option>
                                        {% endfor %}
                                    </select>
                                    <span> for </span>
                                    <input class="form-element num-input" type="number" min="0" max="30" name="btn2_action_time" value="{% if device.btn2_action|length > 0 %}{{ device.btn2_action.split("_")[2]|int }}{% else %}0{% endif %}" style="width: 3em;"/> <span> mins</span>
                                    {% else %}
                                    <a href="pairs">New pair</a>
                                    {% endif %}
                                </td>
                                <td class="main-list" 
                                    {% if devices_availability[loop.index0] == 1 %} style="background-color: orange;" 
                                    {% elif devices_availability[loop.index0] == 2 %} style="background-color: orangered;" 
                                    {% endif %}
                                >{{ device.last_ping }}</td>
                                <td class="main-list">
                                    <input class="form-element btn-input" type="submit" value="Save Edit"/>
                                </td>
                        </tr>
                        {% endfor %}
                    </table>
                </form>
                </center>
            </div>

            {% include 'footer.html' %}
        </div>

        <script>
            {% for device in devices %}
                document.getElementById("trig_a_{{ device.id }}").addEventListener("click", function() {
                    fetch('/api/v1/trigger/{{ session.personal_key }}/{{ device.id }}/1', {})
                        .then( response => response.json() )
                        .then( response => {
                            var tooltip = document.getElementById("trig_a_tooltip_{{ device.id }}");

                            console.log(JSON.stringify(response));
                            if (response.error == 0)
                                tooltip.innerHTML = "Triggered A";
                            else
                                tooltip.innerHTML = "Failed to trigger A";
                        })
                });
                document.getElementById("trig_a_{{ device.id }}").addEventListener("mouseout", function() {
                    var tooltip = document.getElementById("trig_a_tooltip_{{ device.id }}");
                    tooltip.innerHTML = "Trigger A";
                });

                
                document.getElementById("trig_b_{{ device.id }}").addEventListener("click", function() {
                    fetch('/api/v1/trigger/{{ session.personal_key }}/{{ device.id }}/2', {})
                        .then( response => response.json() )
                        .then( response => {
                            var tooltip = document.getElementById("trig_b_tooltip_{{ device.id }}");

                            console.log(JSON.stringify(response));
                            if (response.error == 0)
                                tooltip.innerHTML = "Triggered B";
                            else
                                tooltip.innerHTML = "Failed to trigger B";
                        })
                });
                document.getElementById("trig_b_{{ device.id }}").addEventListener("mouseout", function() {
                    var tooltip = document.getElementById("trig_b_tooltip_{{ device.id }}");
                    tooltip.innerHTML = "Trigger B";
                });
            {% endfor %}
        </script>

    </body> 
</html>