<footer class="column-container">
    <div class="third-column" {% if debug %} style="background-color: red;" {% endif %}>
        <h2 class="hf-title">Sexy Times</h2>
    </div>
    <div class="third-column" {% if debug %} style="background-color: green;" {% endif %}>
        <h2 class="hf-title">Empty Space</h2>
    </div>
    <div class="third-column right-align-div bottom-align-div" {% if debug %} style="background-color: blue;" {% endif %}>
        <div style="margin-right: 10px; {% if debug %}background-color: magenta;{% endif %}">
            <p class="hf-title footnote-credit" style="text-align: right;">Designed & Developed by:</p>
            <p class="hf-title footnote-credit" style="text-align: right;"><a href="https://github.com/frank20a" target="_blank" rel="noopener noreferrer">Frank Fourlas</a> with ❤️</p>
        </div>
    </div>
</footer>