<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <title>LoveCube</title>
    </head>
    <body>
        {% include 'header.html' %}
        
        <div id="main">
            <div id="content">
                <center>
                    {% if session is not none %}
                        <h1>Thank you for choosing LoveCube for your gf/bf-nodding needs!</h1>
                    {% else %}
                        <h1>Get you LoveCube today!</h1>
                        <h4>It's fucking awsome...</h4>
                        <br>
                        <img src="{{ url_for('static', filename='img/lovecube.png') }}" alt="LoveCube circuitboard" width="450">
                    {% endif %}
                </center>
            </div>

            {% include 'footer.html' %}
        </div>

    </body> 
</html>