:root {
    --back-color: #fffff0;
    --bold-color: #fff0d0;
}

html, body {
    font-family: 'Roboto';
    font-size: 20px;
    background-color: var(--back-color);
    height: 100%;
    margin: 0;
}

#main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#content {
    flex: 1 0 auto;
    margin: 5%;
    margin-top: 100px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--bold-color);
}

footer {
    flex: 0 1 auto;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: var(--bold-color);
}

a.main-menu {
    font-size: 36px;
}

table.main-list, th.main-list, td.main-list {
    border: 3px solid var(--bold-color);
    border-collapse: collapse;
    padding: 0 15px 5px;
    text-align: center;
}

#account-div p {
    display: inline;
}

#welcome {
    margin: 0 20px 0 0;
    font-size: 24px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid var(--back-color);
}

label.login-form-element {
    margin-right: 10px;
}

table.login-form{
    border-spacing: 0 1.5em;
}

input.login-form-element, button.login-form-element {
    background-color: var(--back-color);
    font-size: 20px;
}

input.login-form-element.text-input {
    border: 0;
    border-bottom: 2px solid black;
    size: 100%;
    outline: none;
}

input:focus.login-form-element.text-input {
    border-bottom: 4px solid black;
}

input.login-form-element.btn-input, button.login-form-element {
    border: 2px solid var(--bold-color);
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}

input.login-form-element.btn-input:hover, button.login-form-element:hover {
    background-color: var(--bold-color);
    cursor: grab;
}

.form-button {
    width: 100%;
    border-radius: 1px;
    border-width: 2px;
    font-weight: bold;
}

.accept-button {
    background-color: rgb(210, 230, 210);
    border-color: rgb(200, 220, 200);
    color: green;
}
.accept-button:hover {
    background-color: rgb(200, 220, 200);
}

.reject-button {
    background-color: rgb(230, 210, 210);
    border-color: rgb(220, 200, 200);
    color: red;
}

.reject-button:hover {
    background-color: rgb(220, 200, 200);
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    font-weight: bold;
}

.header-links {
    margin: 0 20px 0 0;
    font-size: 24px;
}

.hf-title {
    margin: 0;
    margin-left: 20px;
}

.footnote-credit {
    font-size: 15px;
    line-height: 17px;
}

.column-container {
    display: flex;
}

.half-column {
    flex: 50%;
    margin: 10px;
}

.third-column {
    flex: 33.33%;
    margin: 10px;
}

.quarter-column {
    flex: 25%;
    margin: 10px;
}

.twothird-column {
    flex: 66.66%;
    margin: 10px;
}

.threequarter-column {
    flex: 75%;
    margin: 10px;
}

.right-align-div {
    display: flex;
    justify-content: flex-end
}

.bottom-align-div {
    display: flex;
    align-items: flex-end;
}

.vertical-align-div {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
